@import "node_modules/normalize.css/normalize";
@import "grid";
@import "breakpoints";
@import "fonts";
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/aos/dist/aos";
$grid-breakpoints: (
/* Extra small screen / phone*/

xs: 0,
/* Small screen / phone*/

sm: 576px,
/* Medium screen / tablet*/

md: 768px,
/* Large screen / desktop*/

lg: 992px,
/* Extra large screen / wide desktop*/

xl: 1200px);

$red: rgb(255, 150, 118);
$blue: rgb(57, 80, 132);
$gray: rgb(227, 228, 235);
$light-blue: #eff1f5;

* {
  hyphens: auto;
}

body {
  margin: 0;
  font-family: 'Museo Sans Cyrl 100';
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: $blue;
  text-align: left;
  letter-spacing: 1.5;
}

button,
a {
  cursor: pointer;
}

@mixin rl() {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

/// Mixin to place items on a circle
/// @author Hugo Giraudel
/// @author Ana Tudor
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $circle-size, $item-size, $rot) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  >* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);
    $angle: (360 / $item-count);
    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }
      $rot: $rot+$angle;
    }
  }
}

@mixin big-header($color) {
  color: $color;
  margin: 0;
  padding: 2rem 0;
  text-transform: uppercase;
  font-size: 6.67rem;
  font-weight: 100;
  text-align: left;

  strong {
    font-family: 'Museo Sans Cyrl 700';
  }
}

@mixin small-header($color) {
  color: $color;
  margin: 0;
  padding: 2rem 0;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  text-align: center;

  strong {
    font-family: 'Museo Sans Cyrl 700';
  }
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  @include container();
  max-width: 1220px;
}

.section-main {
  background: url("../images/blueback.jpg") top center no-repeat;
  position: relative;
}

.nut-left {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    width: 311px;
    height: 1116px;
    position: absolute;
    background: url("../images/left.png") bottom left no-repeat;
    background-size: 80% auto;
    bottom: -107px;
    left: 0;
  }
}

.nut-right {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    width: 388px;
    height: 1297px;
    position: absolute;
    background: url("../images/right.png") bottom right no-repeat;
    background-size: 80% auto;
    bottom: -300px;
    right: 0;
  }
}

.main-nav {
  @include row();
  padding-top: 40px;
}

.main-nav__left {
  @include col(2);
  background: url("../images/logo.png") top left no-repeat;
}

.main-logo {
  color: white;
  font-size: 2rem;
  font-family: 'Museo Sans Cyrl 500';
  display: inline-block;
  line-height: 60px;
  height: 60px;
  padding-left: 45px;
}

.main-nav__list {
  @include rl();
  @include col(4);
  display: flex;
  justify-content: space-around;
}

.main-nav__item {
  display: inline-block;
  font-family: 'Museo Sans Cyrl 300';
}

.main-nav__link {
  display: none;

  @include media-breakpoint-up(md) {
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: 60px;

    &:hover {
      border-bottom: 2px solid white;
      line-height: 30px;
      margin-top: 15px;
    }
  }
}

.main-nav__right {
  display: none;

  @include media-breakpoint-up(md) {
    @include col(2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.btn-buy-transparent {
  @include rl();
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 300';
  border: 2px solid white;
  color: white;
  text-align: center;
  background: none;
  border-radius: 50px;
  padding: 10px 50px;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px white inset;
    color: rgb(171, 205, 255);
  }
}

.hide-show__button {
  background: transparent;
  border: none;
  margin-top: 5px;
  position: fixed;
  right: 20px;
  z-index: 8;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.hide-show__item {
  width: 50px;
  height: 6px;
  background-color: $blue;
  margin: 10px 0;
  display: block;
  transition: all ease-in-out 0.4s;

  &.close:nth-child(3) {
    opacity: 0;
    width: 0;
  }

  &.close:nth-child(1) {
    transform: rotate(-45deg);
    background-color: $red;
    z-index: 15;
  } 

  &.close:nth-child(2) {
    transform: rotate(45deg);
    background-color: $red;
    z-index: 15;
  } 

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.mobile-nav__list {
  @include rl();
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform: translateY(-110%);
  opacity: 0;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.mobile-nav__item {
  font-family: 'Museo Sans Cyrl 300';
  background: rgb(57, 80, 132);

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.mobile-nav__link {
  @include rl();
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 50px 0;

  &:hover {
    color: rgb(255, 150, 118);
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.main-slogan {
  font-family: 'Museo Sans Cyrl 500';
  font-weight: normal;
  font-size: 3.33rem;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.btn-watch-video {
  display: inline-block;
  border: none;
  background: $red;
  color: white;
  border-radius: 30px;
  padding: 16px 60px;
  margin-top: 1px;
  font-size: 1.55rem;
  font-family: 'Museo Sans Cyrl 500';
}

.walnut-set-center {
  @include col(8);
  background: url("../images/walnutSetCenter.png") center center no-repeat;
  background-size: 100% auto;
  height: 440px;
  width: 620px;
  margin: 0 auto;
}

.nuts-desc-row {
  @include row();
  justify-content: center;
}

.nuts-desc {
  @include col(6);
  padding-top: 250px;
  padding-bottom: 200px;
  font-family: 'Museo Sans Cyrl 100';
  text-align: center;
}

.mouse-pic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 32px;
  position: relative;
  cursor: pointer;

  &:hover {
    .arrow1,
    .arrow2 {
      opacity: 1;
    }
  }
}

.mouse {
  width: 0;
  height: 27px;
  border: 1px solid rgb(211, 179, 143);
  border-radius: 30px;
  padding: 4px 8px;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-left: 1px solid rgb(211, 179, 143);
    height: 7px;
    top: 7px;
  }
}

.arrow1 {
  opacity: 0;
  display: block;
  width: 0;
  margin-top: 7px;
  padding: 2px;
  border: solid rgb(211, 179, 143);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.arrow2 {
  opacity: 0;
  display: block;
  width: 0;
  padding: 2px;
  border: solid rgb(211, 179, 143);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

// section minerals
.section-minerals {
  background-image: radial-gradient( circle closest-side, rgb(255, 255, 255), rgb(186, 205, 233));
  font-family: 'Museo Sans Cyrl 300';
}

.minerals-header {
  font-size: 2.66rem;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 100px 0 0 0;
}

.minerals-wrap {
  @include row();
  align-items: center;
}

.vitamins {
  @include col-100();
  text-align: center;

  @include media-breakpoint-up(lg) {
    @include col(1);
  }
  font-weight: 300;

  &__header {
    font-size: 1.5rem;

    @include media-breakpoint-up(xl) {
      font-size: 2rem;
    }
  }

  &__list {
    @include rl();
    font-size: 0.88rem;
  }

  &__item {
    line-height: 40px;
  }
}

.diagram {
  @include col-100();

  @include media-breakpoint-up(lg) {
    @include col(6);
  }

  font-family:'Museo Sans Cyrl 500';
  text-align: center;
  padding: 100px 0;

  &__circle {
    @include on-circle( $item-count: 6, $circle-size: 300px, $item-size: 100px, $rot: 30);

    @include media-breakpoint-up(lg) {
      @include on-circle( $item-count: 6, $circle-size: 650px, $item-size: 160px, $rot: 30);
    }

    background: url("../images/walnutBenefit.png") center center no-repeat rgba(222,231,244,0.9);
    background-size: 70% auto;
    border-radius: 50%;
    display: inline-block;
  }

  &__item {
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    font-size: 1rem;
    padding-top: 20px;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      padding-top: 40px;
    }
  }

  &__item-descr {
    display: block;
    font-size: 1rem;
  }
}

// Section benefits
.section-benefits {
  background: $light-blue;

  @include media-breakpoint-up(lg) {
  height: 100%;
  background: url("../images/backBenefits.png") center center no-repeat $light-blue;
  background-size: 100% auto;
}
}

.benefits-header {
  @include small-header($color: $gray);

  @include media-breakpoint-up(lg) {
    @include big-header($color: $gray);
  }
}

.benefits {
  @include row();
}

.benefit {
  @include col-100();

  @include media-breakpoint-up(sm) {
    @include col(2);
  }

  &__number {
    font-family: 'Museo Sans Cyrl 700';
    font-size: 5.55rem;
    color: $gray;
    line-height: 1;
  }

  &__header {
    color: $red;
    font-family: 'Museo Sans Cyrl 700';
    font-size: 1.33rem;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
  }

  &__descr {
    color: $blue;
    font-size: 0.77rem;
    letter-spacing: 0;
  }

  @include media-breakpoint-up(sm) {
    &:nth-child(even) {
      padding-top: 300px;
    }
  }
}

// Section lovers
.section-lovers {
  @include media-breakpoint-up(md) {
  background: url("../images/backContact.png") top center no-repeat;
  background-size: 100% auto;
}
}

.lovers-header {
  @include small-header($color: #f9ebd1);

  @include media-breakpoint-up(lg) {
    @include big-header($color: #f9ebd1);
  }
}

.slider-wrap {
  margin: auto;
  padding: 20px 0;

  @include media-breakpoint-up(md) {
    @include col(6);
  }
}

.glide {

  &:before {
    @include media-breakpoint-up(md) {
    content: "";
    max-width: 600px;
    height: 600px;
    background: $light-blue;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }
  }

  &:after {

    @include media-breakpoint-up(md) {
      content: "";
      width: 217px;
      height: 225px;
      right: 19%;
      bottom: 5%;
      position: absolute;
      background: url("../images/nutBottomLovers.png") top center no-repeat;
      z-index: -1;
    }
  }
}

.glide__slide {
  padding: 0 50px;
  text-align: center;
  height: 600px;

  @include media-breakpoint-up(lg) {
    padding: 0 100px;
    height: 800px;
    overflow: hidden;
  }
}

.glide__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
}

.glide__arrow--prev {
  left: 0;
  background: url("../images/left-arrow.png") center center no-repeat;
}

.glide__arrow--next {
  right: 0;
  background: url("../images/right-arrow.png") center center no-repeat;
}

.slide-title {
  font-family: 'Museo Sans Cyrl 500';
}

.slide-descr {
  font-weight: 100;
  line-height: 20px;
  font-size: 0.88rem;

  @include media-breakpoint-up(lg) {
    line-height: 40px;
    font-size: 1rem;
  }
}

// Section buy
.section-buy {
  background-color: $light-blue;

  @include media-breakpoint-up(lg) {
    padding-bottom: 30px;
    background: url("../images/rectangle.png") top center no-repeat;
    background-size: 100% 100%;
  }
}

.buy-header {
  @include small-header($color: #c8d2e1);

  @include media-breakpoint-up(lg) {
    @include big-header($color: #c8d2e1);
    padding: 25rem 0 2rem 0;
  }
}

.buy-plans-row {
  @include row();
  margin: 0;
  justify-content: center;
  padding-bottom: 40px;

  @include media-breakpoint-up(sm) {
    @include row();
  }
}

.buy-plans-col {
  @include media-breakpoint-up(md) {
    @include col(6);
  }
}

.buy-plans {
  @include row();
  margin: 0;

  @include media-breakpoint-up(md) {
    @include row();
  }
}

.buy-plans-header {
  @include col(6,6);
  text-align: center;
  font-size: 1.56rem;
  font-family: 'Museo Sans Cyrl 500';
  font-weight: normal;

  &::before {
    content: '';
    position: relative;
    display: block;
    margin: auto;
    transition: width .5s ease;
    border-bottom: 1px solid $blue;
    width: 5%;
    bottom: -50px;
    z-index: 2;
  }

  &:hover::before {
    width: 25%;
  }
}

.buy-plan {
  @include col-100();
  text-align: center;
  margin: 0;
  &:last-child {
    border-right: none;
    .buy-plan__header {
      &:after {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    border-right: 1px solid white;
    @include col(2,
    6);
  }

  &__header {
    font-size: 1.5rem;
    font-family: 'Museo Sans Cyrl 500';
    font-weight: normal;
    padding: 20px 0;
    position: relative;

    @include media-breakpoint-up(md) {
      border-bottom: 1px solid white;

      &:after {
        content: "";
        position: absolute;
        right: -20px;
        bottom: -10px;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
      }
    }
  }

  &__price {
    color: $red;
    font-size: 1.56rem;
    font-family: 'Museo Sans Cyrl 300';
    padding: 20px 0;
    strong {
      font-family: 'Museo Sans Cyrl 500';
      font-weight: normal;
    }
  }

  &__descr {
    font-family: 'Museo Sans Cyrl 100';
    font-size: 0.77rem;
    text-align: center;
    min-height: 200px;
    line-height: 20px;
    padding-left: 10px;

    @include media-breakpoint-up(md) {
      text-align: left;
      min-height: 250px;
    }
  }

  &__btn {
    border: none;
    color: $blue;
    background: white;
    border-radius: 16px;
    padding: 6px 40px;
    font-family: 'Museo Sans Cyrl 500';

    &:hover {
      color: white;
      background: $red;
    }
  }
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 5;
  border: none;
  background-color: rgb(57, 80, 132);
  width: 70px;
  height: 35px;
  border-radius: 30px;
  font-size: 0.88rem;
  font-family: 'Museo Sans Cyrl 500';
  color: white;
  cursor: pointer;

  &:hover {
    background-color: rgb(31, 47, 82);
  }
}

.visible {
  display: block;
}

.arrowTop {
  position: absolute;
  display: inline-block;
  padding: 8px;
  border: solid rgb(255, 255, 255);
  border-width: 3px 0 0 3px;
  transform: rotate(45deg);
  left: 25px;
  top: 13px;
}